<h1>Fitness Planner</h1>

<a href="edit/{{this.id}}"><h3 id="monday">Monday</h3></a>
<h3 id="tuesday">Tuesday</h3>
<h3 id="wednesday">Wednesday</h3>
<h3 id="thursday">Thursday</h3>
<h3 id="friday">Friday</h3>
<h3 id='saturday'>Saturday</h3>
<h3 id="sunday">Sunday</h3>






{{!-- <ul>
  {{#each workout}}
    <li><a href="/{{this.id}}">{{this.name}}</a> - <a href="edit/{{this.id}}">Edit</a></li>
  {{/each}}
</ul>

<a href="add">Add new workout</a> --}}
