<h1>Fitness Planner</h1>



<ul>
  {{#each workout}}
    <li>
         <form action="/{{this.id}}?_method=delete" method="post">
        <a href="{{this.id}}">{{this.name}}</a>
    
   
    <input type="submit" value="Remove" class='remove'>
  </form>
  {{/each}}
</ul>

<a href="/workout/add">Add new workout</a>
