 @media(max-width: 450px){
 body{
        text-align: center;
        background-color: rgb(19, 114, 186);
        padding: 50px 10px 0 10px;
        font-family: 'Libre Baskerville', serif;
        position: static;
    }
    ul{
        list-style-type: none;
    }
    input#text{
        margin: 0px 20px;
    }
   input.button{
        background-color: cyan;
        border-color: cyan;
        border-radius: 8px;
        margin: 0px 30px;
        block-size: 30px;
        height: 40px;
        width: 80px;
        text-align: center;
    }

    input#remove {
        background-color: red;
        border-radius: 8px;
        border-color: red;

    }
    input[type=number] {
        background-color: #3CBC8D;
        color: white;
       padding: 5px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        text-align: center
      }
      input[type=text] {
          /* margin: 0 120px; */
          background-color: #3CBC8D;
          border-color: red;
          color: black;
          height: 30px;
          width: 180px;
          text-align: center;
          vertical-align: center
      }
      input#submit {
          background-color: red;
          border-color: red;
          border-radius: 8px;
          margin: 20px;
          height: 50px;
          width: 60px;
          display: block;
          margin-left: 41%;
      }

    h2 {
        font-size: 40px;
    }

    input#sub{
        background-color: #3CBC8D;
        border-color: #3CBC8D;
        position:fixed;
        bottom: 40%;
        right: 15%;
        padding: 10px 15px;
        font-size: 15px;
    
    }
}