 body{
        text-align: right;
        background-color: #ccffff;
        padding: 0px 10px;
        font-family: 'Libre Baskerville', serif;
        background-image: url(wiiFit.png);
        background-attachment: fixed;
        background-position-y:100%;
        background-repeat: no-repeat; 
    }
    ul{
        list-style-type: none;
    }
   
   input.button{
        background-color: cyan;
        border-color: cyan;
        border-radius: 8px;
        margin: 0px 50px;
        block-size: 30px;
        height: 40px;
        width: 80px;
        text-align: center;
    }

    input#pounds{
        position: absolute;
        left: 30%;
        top: 25%;

    }
    input#reps{
        position: absolute;
        right: 30%;
        top: 25%;
    }
    input#text1{
        position: absolute;
        left: 30%;
        top: 20%;
    }
    input#text2{
        position: absolute;
        right: 30%;
        top: 20%;
    }


    input.remove {
        background-color: red;
        border-radius: 8px;
        border-color: red;

    }
    input[type=number] {
        background-color: #3CBC8D;
        color: white;
       padding: 5px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        text-align: center;
        
        
      }
      input[type=text] {
          margin: 0 120px;
          background-color: #3CBC8D;
          border-color: red;
          color: black;
          height: 30px;
          width: 180px;
          text-align: center;
          vertical-align: center
      }
      input#submit {
          background-color: red;
          border-color: red;
          border-radius: 8px;
          margin: 20px;
          height: 50px;
          width: 60px;
          display: block;
          margin-left: 41%;
      }

    h2 {
        font-size: 40px;
        text-align: right;
        align-content: end;
        position: relative ;
        bottom: -200px;
        right: 10px;
        
    }
   
    h1 {
        font-size: 60px;
        text-align: center;
    }
    li{
        text-align: end;
        font-size: 30px;
        margin: 0px;
        display: block;
        text-transform: capitalize;
        
    }
    a:visited{
        color:green;
        text-shadow: 1px 2px 1px black;

    }
    h3 {
        margin: 10px 120px 10px 0 ;
        font-size: 40px;
    }
input#sub{
    background-color: #3CBC8D;
    border-color: #3CBC8D;
    position:fixed;
    bottom: 40%;
    right: 15%;
    padding: 10px 15px;
    font-size: 15px;

}