<h1>Add a workout</h1>

<form action="/" method="post" accept-charset="utf-8">
<h3>Name</h3>
<input type="text" name="name" placeholder="required">

<h3>Reps</h3>
<input type="text" name="reps" id="text">
<h3>Pounds</h3>
<input type="text" name="pounds">
<input type="submit" value="Submit" id="sub">
</form>

<a href="/">Back</a>
